<div class='intro'>
	<p class='intro__dek tk-atlas'>{{copy.subhead}}</p>
	</p>
</div>

<div class="first">
	<div class="graphic"></div>
</div>

<div class="first-neg">
	<div class="graphic">
		<img src="assets/images/figure.png">
	</div>
	<div class="graphic1"></div>
</div>

<div class="second">
	<div class="graphic"></div>
</div>
