<div class='intro'>
	<p class='intro__dek tk-atlas'>{{copy.subhead}}</p>
	</p>
</div>

<!-- Introduction text -->
<div class="prose-text">
{{#each copy.intro}}
	<p>{{{text}}}</p>
{{/each}}
</div>

<!-- Section 1 -->
<div class="prose-text">
{{#each copy.section1}}
	<p>{{{text}}}</p>
{{/each}}
</div>

<div class="first">
	<div class="graphic"></div>
</div>
